
/*navigation bar*/
.mid {
	float: left;
	height: 42px;
	padding: 10px 10px;
	font-size: 14px;
	line-height: 30px;
	
}

/* fbicon*/


.fbicon {
	
	padding-right: 0px;
	top:5px;
	
}
/* search bar */

.searchbar .form-control{
	    border: 1px solid #355089;
    border-radius: 4px;
    box-shadow: none;
    -moz-box-sizing: border-box;
    height: 26px;
    left: -1px;
    padding-right: 48px;
    top: 8px;
}
}






/* friends request drop down menu*/
 .userdiv .list-group-item{
 
  background-color:#f7f7f7;
 }
   /* confirm n dissmisss button button */ 
   
    .userdiv .btn-default:HOVER , #nav2 .btn-default:HOVER ,#nav2 .btn-default , .userdiv .btn-default{
    text-decoration:none;
    background-color:#FFF;
   display: inline-block;
    height: 25px;  font-weight:300;
    padding: 0px 8px;
font-size: 12px;

    }
    .userdiv .btn-primary:HOVER , .userdiv .btn-primary ,#nav2 .btn-primary{
    text-decoration:none;
    text-align:center;
    background-color:#3b5998;
   border-color: #435A8B #3C5488 #334C83;
   display: inline-block;
    height: 25px; font-weight:300;
padding: 0px 8px;
font-size: 12px;

  }
     
  /* add friends drop down list 
   .userdiv a.list-group-item:hover {
   
text-decoration: underline;
color:#214080;
    background-color:#f7f7f7;
}*/

/* inbox dropdown list */


.inbox a.list-group-item{
	background-color:#EBEEF4;
    color:black;
}
.inbox a.list-group-item:hover {
	
	background-color:#F5F7FA;
	color:black;
	
	}

/*lockmenu dropdwn*/
.listdiv .dropdown-menu .divider , .userdiv .dropdown-menu .divider , .inbox .dropdown-menu .divider, .notification .dropdown-menu .divider{
    height: 2px;
   
    margin: 0px 0px;}
     .listdiv a.list-group-item {
     
     color:#555;}
     
   .listdiv a.list-group-item:hover {
   
    color:#555;
    text-decoration: none;
    background-color:transparent;
}


.pri a.active {
	color:#ebe6e6;
	background-color: #3b5998;
}
.pri a.active:hover {
	color:white;
	background-color: #3b5998;
	
}


/* caret dropdown   */

.dd > li > a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    background-color: #3b5998;
}





.txt a {
	color: #fff;
}

.content {
	padding-top: 50px;
}

.iconbg a:hover {
	text-decoration: none;
	background-color: #2e4576;
}

.iconclr a {
	color: rgba(33, 64, 128, 1);
	background-color: transparent;
}
/* color change on hover for nav icons************************  */
.userdiv .iconhvr:hover, .inbox .iconhvr:hover, .notification .iconhvr:hover, .listdiv .iconhvr:hover, .arrow .iconhvr:hover{
	text-decoration: none;
	color: #242b3c;
}

.activeicon a:active {
	background-color: transparent;
	border-color: transparent;
	
}
.nav .activeicon a:focus{
	background-color:transparent;
color:white;
	}
	
	.nav .activeiconcaret a:focus{
	background-color:transparent;
color:rgba(33, 64, 128, 1);
	}



.contentone {
	padding-top: 10px;
}

.zeropad {
	padding-top: 0px;
	padding-bottom: 0px;
}

.linespc p {
	line-height: 110%;
}

/*unhide button hover page css*/
.viewThisResult {
	position: absolute;
	top: 180px;
	left: 173px;
}

.resultContainer .viewThisResult {
	display: none;
}

.resultContainer:hover .viewThisResult {
	display: inline;
}
/*unhide button hover groups css*/
.viewThisResultGroups {
	position: absolute;
	top: 303px;
	left: 173px;
}

.resultContainerGroups .viewThisResultGroups {
	display: none;
}

.resultContainerGroups:hover .viewThisResultGroups {
	display: inline;
}
/*unhide button hover apps css*/
.viewThisResultApps {
	position: absolute;
	top: 403px;
	left: 173px;
}

.resultContainerApps .viewThisResultApps {
	display: none;
}

.resultContainerApps:hover .viewThisResultApps {
	display: inline;
}
/*unhide button hover events css*/
.viewThisResultEvents {
	position: absolute;
	top: 487px;
	left: 173px;
}

.resultContainerEvents .viewThisResultEvents {
	display: none;
}

.resultContainerEvents:hover .viewThisResultEvents {
	display: inline;
}
/*padding for colmn 1*/
.pad1 {
	padding-top: 10px;
	padding-left: 50px;
}
/*list baground*/
.list-group-item {
	position: relative;
	display: block;
	padding: 2px 0px;
	margin-bottom: -1px;
	background-color: transparent;
	border: 0px;
}

a.list-group-item:focus, a.list-group-item:hover {
	color: #555;
	text-decoration: none;
	background-color: #d4d1dd;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.42857;
	color: #333;
}

.list-group-item>.badge {
	float: right;
}

.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 0px;
	font-size: 12px;
	font-weight: 0px;
	line-height: 1;
	color: #555;
	text-align: midle;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: transparent;
	border-radius: 1px;
}
/*cursonpointer hand*/
a:active, a:hover {
	outline:;
	cursor: pointer;
	cursor: hand;
}

.panel-body {
	padding: 0px 0px;
}

/* pannel padding*/
.navbar {
	min-height: 50px;
	margin-bottom: 0px;
	border: 1px solid transparent;
	pading-top: 0px;
}

#nav2 {
	margin-top: -20px;
	  margin-bottom:10px;
}

#buttonpostalign {
	margin-right: 20px;
	margin-left: 5px;
}
/*news feed*/


.newsfeed a:hover, .newsfeed .btn:hover {
	text-decoration: none;
	background-color: #D4D1DD;
}

.newsfeed .btn {
	display: inline-block;
	
	margin-top: 0px;
	font-size: 1px;
	font-weight: 400;
	
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	cursor: hand;
	
	background-color: transparent;
	border: 0px solid transparent;
	border-radius: 0px;
	background-color: transparent;
	
	margin-left:0px;
	
}

.newsfeed {
	margin-top: 30px;
	margin-left: 0px;
	padding: 0px 1px;
	
}

.newsfeed a{
	
	padding-right: 37px;
}
.resultContainer{
	margin-top: 30px;
	margin-left: 0px;
}
/*status bar*/
.well{
	padding: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.statusbdr .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 5px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 0px solid #CCC;
    border-radius: 0px;
    
    transition: none;
}
.navpad{
	padding-top:-23px; 
	padding-bottom: -23px;
	padding-left: -20px;
	padding-right: -20px;
	
}
/* scrollbar*/

.scrollbar{
    height:235px;
    overflow-x:hidden;
    overflow-y:scroll;
}
/* online  chat box-----------------*/

 

        
        
        div.information_popup_container {
position:relative;
width:200px;
height:32px;

/* Position Information */
/* Appearance Information */
}
div.information_popup_container > div.information {
/* Position Information */
/* Appearance Information */

	border-color: #D5D6D9;
}
/*border on hover for chat*/
div.information_popup_container > div.information:hover{
	border:1px solid;
	border-color: #D5D6D9;
	
}


div.information_popup_container > div.popup_information {
position:fixed; 
visibility: hidden;
width:380px;
height:150px;

margin-top:-33px;
right: 200px;
/* Position Information */
/* Appearance Information */
}
div.information_popup_container > div.information:hover + div.popup_information ,div.information_popup_container > div.popup_information:hover{
visibility: visible;
z-index: 200;

box-shadow: 0 0 20px black;
}



.information a.list-group-item:hover {
	
    color: #555;
    text-decoration: none;
    background-color: #E5E5E5;
}
.information a.list-group-item{
padding-top:1px;
padding-bottom:1px;
padding-left: 8px;
padding-right: 8px;}


/* chat scrollbar */

.chatscrollbar{
    height:605px;
    width:202px;
    overflow-x:hidden;
    overflow-y:scroll;
    position: fixed;
    border-left:1px solid;
    border-color: #bdbaba;
}
.searchfix{
	top:650px;
	position: fixed;
	 width:202px;
}


/* article part */
.post{
	
	height: 685px;
	width: 503px;
	padding:12px;
	margin-bottom: 10px;
	
	
	    background: none repeat scroll 0% 0% #FFF;
    border-width: 1px;
    border-style: solid;
   

    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
    border-radius: 3px;
}
.post #smallpic{
	float:left;
	padding-right:5px;
	padding-bottom:5px;
}
.post #head{
	line-height:12px;
}

.post .peopleliked{
	height: 33px;
	
	width:477px;
	padding-top: 9px;
	padding-right: 12px;
	padding-left: 12px;
	padding-bottom: 7px;
	border-top: 1px solid;
	border-color:#bdbaba;
	}
	.commentbox{
	height: 47;
	width:477px;
	padding-top: 9px;
	padding-right: 12px;
	padding-left: 12px;
	padding-bottom: 7px;
	border-top: 1px solid;
	border-color:#bdbaba;
	
	}
	
	.post #inputsm{
	width:420px;
	padding-right: 0px;
	margin-right: 0px}
